@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
}

.before_content::before {
	content: " ";
	width: 2px;
	background: linear-gradient(0deg, var(--grad-2) 0%, var(--grad-1) 100%);
	position: absolute;
	top: 0;
	bottom: 0;
	left: -30px;
}
